body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(12, 12, 12, 0.596);
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    img{
        height: 100px;
    }
  }

  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0000002d;
    box-shadow: 0 0 20px rgba(83, 83, 83, 0.993);
  }

  img {
    max-width: 80%;
    height: auto;
  }

  h1 {
    color: white;
  }

  p {
    line-height: 1.6;
    color: #000000;
  }

  .middle {
    text-align: center;
  }
  .smallflag {
    width: 20px;
    height: 20px;
  }